*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /* Add your background pattern here */
  background: radial-gradient(
    circle farthest-side at 0% 50%,
    #282828 23.5%,
    rgba(255, 170, 0, 0) 0
  )
  21px 30px,
radial-gradient(
    circle farthest-side at 0% 50%,
    #2c3539 24%,
    rgba(240, 166, 17, 0) 0
  )
  19px 30px,
linear-gradient(
    #282828 14%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 85%,
    #282828 0
  )
  0 0,
linear-gradient(
    150deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(
    30deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
  #282828;
background-size: 40px 60px;
position: fixed;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.heading h1{
  font-weight: 500;
}

.footer{
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
}

.pyramid-loader {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 70px;
  height: 70px;
/* you can choose any gradient or color you want */
  /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .shadow {
  width: 60px;
  height: 60px;
  background: #8B5AD5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}

.calculator{
    background-color: #205b7a ;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.calculator form input{
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow:  -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #2c3539;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    background-color: transparent;
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}

form input.operator{
    color: #33ffd8;
    background-color: #282828;
}

form input.SpecialOperations{
  color: #000000;
  background-color: #a2bbcf;
}

form input:hover{
    transition-timing-function: ease-in-out;
    transform: scale(1.1);
}

form .display input{
  transition: none;
  transform: none;
}

form input:active{
    box-shadow:  none;
}